<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear <%= @creator_user.name %>,</h1>
<p>
  <b> CONGRATULATIONS! </b><br/><br/>

  The YBCO Team has reviewed your full project page and we are very pleased to inform you that your project will be able to go LIVE and start crowdfunding very soon!
  <br/>  
  <br/>
  We can't wait to follow you throughout your journey with YBCO. Let us know should you require any help from us. 
  <br/>
  <br/>
  <img src="https://s3-ap-southeast-1.amazonaws.com/ybco-images/ybco_emailer_footer.jpg"/>
</p>
</body>
</html>