<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear <%= @project_proposal.name %>,</h1>
<p>
  The YBCO Team has reviewed your full project page and we regret to inform you that the information you have provided for your project is insufficient.
  <br/>  
  <br/>
  Kindly fill up all the required fields as accurate as possible. If you are unsure of what else you are required to fill up, do contact us again and we will get back to you as soon as we can.
  <br/>
  <br/>
  <img src="https://s3-ap-southeast-1.amazonaws.com/ybco-images/ybco_emailer_footer.jpg"/>
</p>
</body>
</html>