<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear <%= @project_proposal.first_name+" "+@project_proposal.last_name %></h1>,
<p>
  Thank you for your project submission. <br/><br/>
  We have received many interesting and creative projects recently and due to the competitiveness from other projects, <br/><br/>
  we regret to inform you that your project called <%= @project_proposal.title %> did not make the cut. <br/><br/>
  However, we do hope that you will try to refine your idea and submit another proposal soon. <br/><br/>
  We look forward in receiving your amended project proposal soon.<br/><br/>
  The harder the struggle, the more glorious the triumph.<br/><br/>
  <img src="https://s3-ap-southeast-1.amazonaws.com/ybco-images/ybco_emailer_footer.jpg"/>
</p>
</body>
</html>