<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear user,</h1>
<p>
  You have been invited to be a part of <%= @project_proposal.name %>'s crowdfunding project on YBCO - the crowdfunding platform for millennials, by millennials.
  <br/>  
  <br/>
  To join <%= @project_proposal.name %>, click on <a href="">this link</a> to access the project now.
  <br/>
  <br/>
  Feel free to contact us should you have any doubts. Hope to see you on board YBCO soon!
  <br/>
  <br/>
  <img src="https://s3-ap-southeast-1.amazonaws.com/ybco-images/ybco_emailer_footer.jpg"/>
</p>
</body>
</html>