<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @user.last_name + ' ' + @user.first_name %></h1>
<p>
  We have reset your password. Please use the following generated password to login.<br/><br/>
  Do remember to change your password after logging in.<br/><br/>
  <b>New Password: </b><%=@new_password%><br/><br/>
  You may log in <a href='https://ybcosg.herokuapp.com/login'>here</a><br/><br/>
  <img src="https://s3-ap-southeast-1.amazonaws.com/ybco-images/ybco_emailer_footer.jpg"/>
</p>
</body>
</html>