<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @user.last_name + ' ' + @user.first_name %></h1>
<p>
  Thank you for registering an account with Young & Bold Company!
  <br/> The YBCO team is more than thrilled to have you as a part of our YBCO community.
  <br/>Our community aims to help you make your dreams into a reality by helping you to reach out to other like-minded individuals like yourself.
  <br/>Fret not if you don’t have an idea yet, you can browse the projects available on YBCO, help out other community members in achieving their dreams by funding their projects and who knows you might just find some inspirations along the way!
  <br/>Now go and be Young & Bold! You may log in <a href='#'>here</a>
</p>
</body>
</html>