<nav class="project-navigation list-horizontal-scroller" id="project-navigation">
  <ul class="list--horizontal">
    <li class="list-item current"><a href="#overview">Overview</a></li>
    <li class="list-item"><a href="#about">About</a></li>
    <li class="list-item"><a href="#details">Details</a></li>
    <li class="list-item"><a href="#updates">Updates</a></li>
    <li class="list-item"><a href="#team">Team</a></li>
    <li class="list-item"><a href="#fuel">Fuel</a></li>
    <li class="list-item"><a href="#timeline">Timeline</a></li>
    <li class="list-item"><a href="#discuss">Discuss</a></li>
  </ul>
</nav>