<section class="footer-cta" style="background-image: url('/assets/footer-hero.jpg')";>
	<div class="l--absolute-center wrap">
		<span class="footer-cta__heading heading">What are you waiting for?</span>
		<p>It's time to go live!</p>

		<div class="l--padded">
      <%= link_to newProposal_path, class: "footer-cta__button" do%>
          Go Live!
      <% end %>
		</div>
	</div>
</section>