<section class="footer-cta" style="background-image: url('/assets/footer-hero.jpg')";>
	<div class="l--absolute-center wrap">
		<span class="footer-cta__heading heading">Try YBCO free for 14 Days</span>
		<p>No credit card or software download required.</p>

		<div class="l--padded">
      <%= link_to newProposal_path, class: "footer-cta__button" do%>
          Get Started
      <% end %>
		</div>
	</div>
</section>