/** In application.css
 *
 *= require_self
 *= require unsemantic/assets/stylesheets/unsemantic-grid-responsive-no-ie7
 *= require unsemantic/assets/stylesheets/unsemantic-grid-responsive-tablet-no-ie7


*/
.img-circular{
 width: 200px;
 height: 200px; 
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 align-content: center;
}