<div class="project-gallery" id="project-gallery">
  <div class="project-gallery-item" style="background-image:url(/assets/project-hero-1.jpg);"></div>
  <div class="project-gallery-item" style="background-image:url(/assets/project-hero-2.jpg);"></div>
  <div class="project-gallery-item" style="background-image:url(/assets/project-hero-3.jpg);"></div>
  <div class="project-gallery-item" style="background-image:url(/assets/project-hero-4.jpg);"></div>
</div>

<div class="project-gallery-overlay" id="project-gallery-overlay"></div>

<div class="project-gallery-management" id="project-gallery-management">
  <span class="project-gallery-management__heading">Edit Covers</span>

  <ul class="gallery-thumbnails" id="gallery-thumbnails">
    <li class="gallery-thumbnail js-draggable js-delete-container">
      <div class="gallery-thumbnail-card">
        <span class="gallery-thumbnail__index">1</span>
        <span class="gallery-thumbnail__type">
							<i class="icon icon--video-file"></i>
							Video
						</span>

        </assets src="/assets/pt1.jpg" alt="">

        <div class="gallery-thumbnail-actions">
          <i class="icon icon--reorder-horizontal js-reorder"></i>
          <i class="icon icon--trash-can js-delete"></i>
        </div>
      </div>
    </li>

    <li class="gallery-thumbnail js-draggable js-delete-container">
      <div class="gallery-thumbnail-card">
        <span class="gallery-thumbnail__index">2</span>
        <span class="gallery-thumbnail__type">
							<i class="icon icon--image-file"></i>
							Image
						</span>

        </assets src="/assets/pt2.jpg" alt="">

        <div class="gallery-thumbnail-actions">
          <i class="icon icon--reorder-horizontal js-reorder"></i>
          <i class="icon icon--trash-can js-delete"></i>
        </div>
      </div>
    </li>

    <li class="gallery-thumbnail js-draggable js-delete-container">
      <div class="gallery-thumbnail-card">
        <span class="gallery-thumbnail__index">3</span>
        <span class="gallery-thumbnail__type">
							<i class="icon icon--image-file"></i>
							Image
						</span>

        </assets src="/assets/pt3.jpg" alt="">

        <div class="gallery-thumbnail-actions">
          <i class="icon icon--reorder-horizontal js-reorder"></i>
          <i class="icon icon--trash-can js-delete"></i>
        </div>
      </div>
    </li>

    <li class="gallery-thumbnail js-draggable js-delete-container">
      <div class="gallery-thumbnail-card">
        <span class="gallery-thumbnail__index">4</span>
        <span class="gallery-thumbnail__type">
							<i class="icon icon--image-file"></i>
							Image
						</span>

        </assets src="/assets/pt4.jpg" alt="">

        <div class="gallery-thumbnail-actions">
          <i class="icon icon--reorder-horizontal js-reorder"></i>
          <i class="icon icon--trash-can js-delete"></i>
        </div>
      </div>
    </li>

    <li class="gallery-thumbnail js-ignore">
      <div class="gallery-thumbnail-card">
        <span class="gallery-thumbnail__add">Add Image<br>or<br>Video</span>
      </div>
    </li>
  </ul>

  <span class="edit-save-button js-edit-save-button" id="project-gallery-management-save">
				Done
			</span>
</div>

<div class="project-gallery-counter">
  <span class="project-gallery-counter__current" id="project-gallery-counter__current">1</span>/<span class="project-gallery-counter__max">4</span>
</div>

<div class="project-gallery-play">
  <i class="icon icon--project-slider-play"></i>
  <span class="project-gallery-play__text">Play</span>
</div>

<span class="edit-button js-edit-button" id="project-images-edit" data-container="project-gallery">
			<i class="icon icon--edit"></i>
			Edit Cover Images
		</span>