<div class="wrap">
				<h2 class="heading--small" id="project-inspiration-heading" style="position: relative; display: table; width: auto; margin-left: auto; margin-right: auto;">
					Our Inspiration

					<span class="edit-button js-edit-button" id="project-inspiration-edit" data-container="project-inspiration-heading">
						<i class="icon icon--edit"></i>
						Edit
					</span>
				</h2>

				<div class="grid-container t--left" style="position: relative;" id="project-inspiration-view">
					<div class="grid-50">
						</assets src="/assets/project-detail-1.jpg" alt="" style="width:100%;">
						<p class="t--small caption">It's not a perfect solution but it's a lot better than many people have access to.</p>
					</div>

					<div class="grid-45 push-5">
						<p class="t--large">As the water runs through, the bacteria absorb the silver ions, which kill the bacteria. The paper kills over 99.9 percent of harmful bacteria, which puts the resulting water on a par with tap water in the US. It has proven effective at destroying bacteria that cause diseases such as cholera, E.coli and typhoid.</p>
					</div>

					<i class="temp-slider-arrow-left"></i>
					<i class="temp-slider-arrow-right"></i>
				</div>

				<div class="grid-container t--left" id="project-inspiration-management">
					<ul class="progress-steps" id="inspiration-progress">
						<li class="progress-step current">Select Layout</li>
						<li class="progress-step">Add Content</li>
						<li class="progress-step">Preview + Complete</li>
					</ul>

					<section class="js-inspiration-step" id="inspiration-1">
						<ul class="list--horizontal">
							<li class="list-item">
								<input class="l--hidden" type="radio" id="image-text" name="inspiration-radio">
								<label class="radio-image" for="image-text">
									<i class="icon icon--inspiration-image-text"></i>
									Image + Text
								</label>
							</li>

							<li class="list-item">
								<input class="l--hidden" type="radio" id="image-only" name="inspiration-radio">
								<label class="radio-image" for="image-only">
									<i class="icon icon--inspiration-image-only"></i>
									Image Only
								</label>
							</li>

							<li class="list-item">
								<input class="l--hidden" type="radio" id="text-only" name="inspiration-radio">
								<label class="radio-image" for="text-only">
									<i class="icon icon--inspiration-text-only"></i>
									Text Only
								</label>
							</li>
						</ul>

						<a href="#" class="button--inspiration js-inspiration-next">
							Next
							<i class="icon icon--button-arrow-right"></i>
						</a>
					</section>

					<section class="js-inspiration-step" id="inspiration-2">
						<div class="accordion-manager">
							<ul class="accordion-list" id="accordion-list">
								<li class="accordion-item js-delete-container js-draggable">
									<div class="accordion-item-number">
										1
									</div>

									<div class="accordion-item-preview">
										<div class="accordion-item-preview__content">
											</assets src="/assets/inspiration-accordion-1.jpg" alt="">
											<p>The water in your village may contain deadly...</p>
										</div>

										<ul class="accordion-item-preview__actions">
											<li class="accordion-item-action">
												<i class="icon icon--reorder-vertical js-reorder-handle"></i>
												<i class="icon icon--trash-can js-delete"></i>
											</li>
										</ul>
									</div>

									<div class="accordion-item-content">
										<button class="accordion-close js-accordion-close">-</button>
										<div class="grid-container">
											<div class="grid-25">
												<label class="accordion-label">Image</label>
												</assets src="/assets/inspiration-accordion-2-large.jpg" alt="">
											</div>

											<div class="grid-70 push-5">
												<div>
													<label class="accordion-label">Body Copy</label>
													<textarea rows="7" class="accordion-textarea">As the water runs through, the bacteria absorb the silver ions, which kill the bacteria. The paper kills over 99.9 percent of harmful bacteria, which puts the resulting water on a par with tap water in the US. It has proven effective at destroying bacteria that cause diseases such as cholera, E.coli and typhoid.</textarea>
												</div>

												<div class="l--plunge">
													<label class="accordion-label">Caption</label>
													<textarea rows="7" class="accordion-textarea">It's not a perfect solution but it's a lot better than many people have access to.</textarea>
												</div>
											</div>
										</div>
									</div>
								</li>

								<li class="accordion-item js-delete-container js-draggable">
									<div class="accordion-item-number">
										2
									</div>

									<div class="accordion-item-preview">
										<div class="accordion-item-preview__content">
											</assets src="/assets/inspiration-accordion-2.jpg" alt="">
											<p>As the water runs through, the bacteria absorb...</p>
										</div>

										<ul class="accordion-item-preview__actions">
											<li class="accordion-item-action">
												<i class="icon icon--reorder-vertical js-reorder-handle"></i>
												<i class="icon icon--trash-can js-delete"></i>
											</li>
										</ul>
									</div>

									<div class="accordion-item-content">
										<button class="accordion-close js-accordion-close">-</button>
										<div class="grid-container">
											<div class="grid-25">
												<label class="accordion-label">Image</label>
												</assets src="/assets/inspiration-accordion-2-large.jpg" alt="">
											</div>

											<div class="grid-70 push-5">
												<div>
													<label class="accordion-label">Body Copy</label>
													<textarea rows="7" class="accordion-textarea">As the water runs through, the bacteria absorb the silver ions, which kill the bacteria. The paper kills over 99.9 percent of harmful bacteria, which puts the resulting water on a par with tap water in the US. It has proven effective at destroying bacteria that cause diseases such as cholera, E.coli and typhoid.</textarea>
												</div>

												<div class="l--plunge">
													<label class="accordion-label">Caption</label>
													<textarea rows="7" class="accordion-textarea">It's not a perfect solution but it's a lot better than many people have access to.</textarea>
												</div>
											</div>
										</div>
									</div>
								</li>

								<li class="accordion-item js-delete-container js-draggable">
									<div class="accordion-item-number">
										3
									</div>

									<div class="accordion-item-preview">
										<div class="accordion-item-preview__content">
											</assets src="/assets/inspiration-accordion-3.jpg" alt="">
											<p>It has proven effective at destroying bacteria...</p>
										</div>

										<ul class="accordion-item-preview__actions">
											<li class="accordion-item-action">
												<i class="icon icon--reorder-vertical js-reorder-handle"></i>
												<i class="icon icon--trash-can js-delete"></i>
											</li>
										</ul>
									</div>

									<div class="accordion-item-content">
										<button class="accordion-close js-accordion-close">-</button>
										<div class="grid-container">
											<div class="grid-25">
												<label class="accordion-label">Image</label>
												</assets src="/assets/inspiration-accordion-2-large.jpg" alt="">
											</div>

											<div class="grid-70 push-5">
												<div>
													<label class="accordion-label">Body Copy</label>
													<textarea rows="7" class="accordion-textarea">As the water runs through, the bacteria absorb the silver ions, which kill the bacteria. The paper kills over 99.9 percent of harmful bacteria, which puts the resulting water on a par with tap water in the US. It has proven effective at destroying bacteria that cause diseases such as cholera, E.coli and typhoid.</textarea>
												</div>

												<div class="l--plunge">
													<label class="accordion-label">Caption</label>
													<textarea rows="7" class="accordion-textarea">It's not a perfect solution but it's a lot better than many people have access to.</textarea>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>

							<a href="#" class="accordion-add">Add Slide</a>
						</div>

						<a href="#" class="button--inspiration js-inspiration-next">
							Next
							<i class="icon icon--button-arrow-right"></i>
						</a>
					</section>

					<section class="js-inspiration-step" id="inspiration-3">
						<div class="grid-container" style="position: relative;">
							<div class="grid-50">
								</assets src="/assets/project-detail-1.jpg" alt="" style="width:100%;">
								<p class="t--small caption">It's not a perfect solution but it's a lot better than many people have access to.</p>
							</div>

							<div class="grid-45 push-5">
								<p class="t--large">As the water runs through, the bacteria absorb the silver ions, which kill the bacteria. The paper kills over 99.9 percent of harmful bacteria, which puts the resulting water on a par with tap water in the US. It has proven effective at destroying bacteria that cause diseases such as cholera, E.coli and typhoid.</p>
							</div>

							<i class="temp-slider-arrow-left"></i>
							<i class="temp-slider-arrow-right"></i>
						</div>

						<a href="#" class="button--inspiration js-inspiration-next">
							Finish
							<i class="icon icon--button-arrow-right"></i>
						</a>
					</section>
				</div>
			</div>