
  <div class="cards grid-container">
    <div class="grid-50">
    <% all_updates.each do |pUpdate| %>
      <section href="" class="card">
        <header class="card-header">
          <div class="card-meta">
            <span class="card-meta__new">New</span>
            <!--<span class="card-meta__date">Today 3:32</span>-->
            <span class="card-meta__date"><% pUpdate.created_on %></span>
          </div>

          <h3 class="card-header__title">
               <% pUpdate.title %>
          </h3>
        </header>

        <div class="card-content">
          <p><% pUpdate.description %></p>
        </div>
      </section>
    </div>

   <% end %>
  </div>
