<h1>Login Successful to DashBoard Index</h1>


<%= link_to "Logout", controller: "sessions", action: "destroy" %>
<!-- Display parameters -->
<hr/>
Inspecting Parameters
<%=params.inspect%>
Session ID is=<%=session[:user_id] %>
<!-- <%= session.inspect %> -->